<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.DiscussDao">

    <resultMap id="Discuss" type="discuss">
        <id property="discussId" column="discuss_id"/>
        <result property="userId" column="user_id"/>
        <result property="fileId" column="file_id"/>
        <result property="discussBody" column="discuss_body"/>
        <result property="discussTime" column="discuss_time"/>
        <result property="isRead" column="is_read"/>
    </resultMap>

    <insert id="saveDiscuss" parameterType="Discuss">
        INSERT INTO discuss(user_id,file_id,discuss_body,discuss_time,is_read)
        values (#{userId},#{fileId},#{discussBody},#{discussTime},#{isRead})
    </insert>

    <select id="getDiscussById" resultMap="Discuss">
        SELECT * from discuss where discuss_id = #{value}
    </select>

    <delete id="deleteDiscussById" parameterType="Integer">
        delete from discuss where discuss_id = #{value}
    </delete>

    <select id="getDiscussByFileId" resultMap="Discuss">
        SELECT * from discuss where file_id = #{value} order by discuss_time desc
    </select>
    <select id="getUserFileDiscussByUserId" resultMap="Discuss">
        SELECT distinct d.discuss_id, d.user_id, d.file_id, discuss_body, discuss_time ,is_read
        from discuss d, file f
        where d.file_id = f.file_id and f.user_id = #{value} order by discuss_time desc
    </select>

    <select id="getTeamFileDiscussByUserId" resultMap="Discuss">
        SELECT distinct d.discuss_id, d.user_id, d.file_id, discuss_body, discuss_time,is_read
        from user_group ug, file f, discuss d
        where f.file_id = d.file_id and ug.group_id = f.group_id and ug.user_id = #{userId}
        order by discuss_time desc
    </select>

    <update id="readDiscussById" parameterType="Integer">
        update discuss set is_read = 1 where discuss_id = #{discussId}
    </update>
</mapper>
