<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.FileDao">

    <resultMap id="File" type="file">
        <id property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileInfo" column="file_info"/>
        <result property="fileBody" column="file_body"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyCnt" column="modify_cnt"/>
        <result property="userId" column="user_id"/>
        <result property="groupId" column="group_id"/>
        <result property="isEdit" column="is_edit"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <select id="getFileById" resultMap="File">
        SELECT  * FROM file WHERE file_id = #{value} ORDER BY modify_cnt desc limit 1
    </select>

    <insert id="saveFile" parameterType="File">
        INSERT INTO file(file_id,file_name,file_info,file_body,modify_time,modify_cnt,user_id,group_id,is_edit,is_delete)
        VALUES (#{fileId},#{fileName},#{fileInfo},#{fileBody},#{modifyTime},#{modifyCnt},#{userId},#{groupId},#{isEdit},#{isDelete})
    </insert>

    <select id="getAllFileById" resultMap="File">
        select * from file where file_id = #{value} ORDER BY modify_cnt desc
    </select>

    <select id="getFileByUserId" resultMap="File">
        select * from file,(select file_id as id,max(modify_cnt) as max from file where user_id = #{value} group by file_id) as latest

        where file.file_id = latest.id and file.modify_cnt = latest.max and file.is_delete = 0
    </select>

    <select id="getFileByGroupId" resultMap="File">
        select * from file,(select file_id as id,max(modify_cnt) as max from file where group_id = #{value} group by file_id) as latest

        where file.file_id = latest.id and file.modify_cnt = latest.max and file.is_delete = 0


        <!-- select * from file where group_id = #{value} and is_delete = 0 -->
    </select>

    <select id="getDeletedFileByUserId" resultMap="File">
        select * from file,(select file_id as id,max(modify_cnt) as max from file where user_id = #{value} group by file_id)  as latest

        where file.file_id = latest.id and file.modify_cnt = latest.max and file.is_delete != 0
        <!-- select * from file where user_id = #{value} and is_delete != 0 -->
    </select>

    <select id="getDeletedFileByGroupId" resultMap="File">
        select * from file,(select file_id as id,max(modify_cnt) as max from file where group_id = #{value} group by file_id) as latest

        where file.file_id = latest.id and file.modify_cnt = latest.max and file.is_delete != 0

        <!-- select * from file where group_id = #{value} and is_delete != 0 -->
    </select>

    <update id="deleteFile" parameterType="Integer">
        update file set is_delete = 1 where file_id = #{value}
    </update>

    <delete id="foreverDeleted" parameterType="Integer">
        delete from file where file_id = #{fileId}
    </delete>

    <update id="recoverFile" parameterType="Integer">
        update file set is_delete = 0 where file_id = #{value}
    </update>

    <update id="setEditStatus" parameterType="Integer">
        update file set is_edit = #{isEdit} where file_id = #{fileId}
    </update>

    <select id="getGroupFileByUserId" parameterType="Integer" resultMap="File">
        select * from file f, user_group ug ,(select file_id as id,max(modify_cnt) as max from file group by file_id) as latest
        where f.group_id = ug.group_id and ug.user_id = #{userId} and f.file_id = latest.id and f.modify_cnt = latest.max
    </select>

    <select id="getGroupFileByAdminId" parameterType="Integer" resultMap="File">
        select * from file f, `group` g ,(select file_id as id,max(modify_cnt) as max from file group by file_id) as latest
        where f.group_id = g.group_id and g.admin_id = #{userId} and f.file_id = latest.id and f.modify_cnt = latest.max
    </select>

    <select id="getRecentFileByUserId" resultMap="File">
        select file.* from file,
                           (select file_id as id,max(recent_time) as max from recent where user_id = #{value} group by file_id order by max desc limit 15) as rec,
                           (select file_id as id,max(modify_cnt) as max from file group by file_id) as latest
        where file.file_id = rec.id and file.file_id = latest.id and file.modify_cnt = latest.max and file.is_delete = 0
    </select>

    <select id="getHistoryFile" parameterType="Integer" resultMap="File">
        select * from file where file_id = #{fileId} ORDER BY modify_cnt desc
    </select>

    <select id="getHistoryFileById" parameterType="Integer" resultMap="File">
        select * from file where file_id = #{fileId} and modify_cnt = #{modifyCnt}
    </select>

    <select id="getLastFileId" resultType="Integer">
        select max(file_id) from file
    </select>
</mapper>
