<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.GroupDao">

    <resultMap id="Group" type="group">
        <id property="groupId" column="group_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="groupName" column="group_name"/>
        <result property="groupInfo" column="group_info"/>
    </resultMap>

    <select id="getGroupByName" parameterType="String" resultMap="Group">
        SELECT * FROM `group` where group_name = #{teamName}
    </select>

    <select id="getGroupById" parameterType="Integer" resultMap="Group">
        SELECT * FROM `group` where group_id = #{groupId}
    </select>

    <select id="getGroupByAdminId" parameterType="Integer" resultMap="Group">
        SELECT * FROM `group` where admin_id = #{adminId}
    </select>

    <select id="getGroupByUserIdAsMem" parameterType="Integer" resultType="Integer">
        SELECT group_id FROM `user_group` where user_id = #{userId}
    </select>
    <select id="getGroupByUserIdAsAdmin" parameterType="Integer" resultType="Integer">
        SELECT group_id FROM `group` where admin_id = #{userId}
    </select>

    <delete id="removeMem" parameterType="Integer">
        DELETE FROM user_group WHERE group_id = #{groupId} AND user_id = #{userId}
    </delete>

    <delete id="deleteGroup" parameterType="Integer">
        DELETE FROM `group` WHERE group_id = #{groupId}
    </delete>

    <delete id="deleteUserGroup" parameterType="Integer">
        DELETE FROM user_group WHERE group_id = #{groupId}
    </delete>

    <insert id="saveGroup" parameterType="Group">
        insert into `group` values (null,#{adminId},#{groupName},#{groupInfo})
    </insert>

    <insert id="saveGroupMem" parameterType="Integer">
        insert into `user_group` values (null,#{groupId},#{userId})
    </insert>


</mapper>
