<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.NoticeDao">

    <resultMap id="Notice" type="notice">
        <id property="noticeId" column="notice_id"/>
        <result property="userName" column="user_name"/>
        <result property="groupAdmin" column="group_admin"/>
        <result property="groupName" column="group_name"/>
        <result property="op" column="op"/>
        <result property="info" column="info"/>
        <result property="time" column="time"/>
        <result property="isRead" column="is_read"/>
    </resultMap>

    <select id="getNotice" parameterType="String" resultMap="Notice">
        SELECT * FROM notice where user_name = #{name} and (op=1 or op=3 or op=5)
        UNION
        SELECT * FROM notice where group_admin = #{name} and (op=2 or op=4)
        order by time desc
    </select>

    <select id="getNoticeById" parameterType="Integer" resultMap="Notice">
        SELECT * FROM notice WHERE notice_id = #{noticeId}
    </select>

    <insert id="saveNotice" parameterType="Notice">
        insert into notice(user_name,group_admin, group_name, op, info, time, is_read)
        values (#{userName},#{groupAdmin},#{groupName},#{op},#{info},#{time},#{isRead})
    </insert>

    <update id="readNotice" parameterType="Integer">
        update notice set is_read = 1 where notice_id = #{noticeId}
    </update>

</mapper>
