<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.RecentDao">

    <resultMap id="Recent" type="recent">
        <id property="recentId" column="recent_id"/>
        <result property="userId" column="user_id"/>
        <result property="fileId" column="file_id"/>
        <result property="recentTime" column="recent_time"/>
    </resultMap>

    <insert id="saveRecent" parameterType="Recent">
        insert into recent(user_id, file_id, recent_time)
        values (#{userId},#{fileId},#{recentTime})
    </insert>

    <select id="findRecent" resultMap="Recent">
        select * from recent where user_id = #{id} and  file_id = #{fileId}
    </select>

</mapper>
